.photo-item {
  text-align: center;
}

.photo-item img {
  width: 400px;
}

.photo-item p {
  text-align: center;
  margin-bottom: 1em;
}

#home .photo-item h2 {
  margin-bottom: 1em;
}

.photo-author {
  text-align: left;
}

.photo-author a {
  font-weight: bold;
}
